<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div th:replace="fragment/bodyHeader :: bodyHeader" />

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}">상품 ID</td>
                <td><a th:text="${item.itemName}" th:href="@{/item/detail/{itemId}(itemId=${item.id})}">상품명</a></td>
                <td th:text="${item.price}">가격</td>
                <td th:text="${item.quantity}">수량</td>

            </tr>
        </tbody>

    </table>
    <button th:onclick="|location.href='@{/item/add}'|">상품 등록</button>
</div>
</body>
</html>